body {
  font-family: 'Creepster', cursive;
}

h1 {
  color: darkgreen;
  font-family: 'Creepster', cursive;
}

h2 {
  color: darkgreen;
  font-family: 'Creepster', cursive;
}

h3 {
  color: darkgreen;
  font-family: 'Creepster', cursive;
}

body {
  background-color : black;
}